ENV=DEV
PORT=3000
VERSION=0.1.0 # api version

PRIVATE_KEY=

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_PORT=
MONGO_HOST=
MONGO_DB_NAME=

URL_FRONT=
PROTOCOL_FRONT=


EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=